## Pirmi zingsniai

In [1]:
print("labas")
skaicius = 7
skaicius1 = 9
suma = skaicius + skaicius1
print(suma)

labas
16

In [45]:
vardas = "studentas"

In [46]:
skaicius1 = 5
skaicius1
type(skaicius1)

int

In [47]:
#funkcija type parodo kintamojo tipa
#pvz:
skaicius1 = 5.0
type(skaicius1)

float

In [48]:
#veiksmai negalimi tarp skaiciu ir tekstinio formato
#galima sudeti kaip

In [49]:
##normali dalyba
5/2

2.5

In [50]:
#dalyba be liekanos
9//2

4

In [51]:
#dalyba kai atsakymas tik liekana po kablelio
5%2

1

In [52]:
#negali kintamasis prasidet skaicium, todel zenkliukas priekyje
_1skaicius=1

## Skaitliukas

In [53]:
skaitliukas = 0

In [54]:

skaitliukas += 1
skaitliukas

1

In [59]:
skaitliukas*=2
skaitliukas

32

In [28]:
vardas = "studentas"
_vardas = " kitas studentas"
print(vardas, _vardas, ", \n ir dar vienas studentas",  sep="", end="")

studentas kitas studentas,
 ir dar vienas studentas

## kelimas laipsniu

In [60]:
skaicius = 2
laipsnis = 3
skaicius ** laipsnis

8

In [61]:
4 ** 4

256

In [62]:
skaicius ** 5

32

## Simboliu eilutes

In [ ]:
vardas = "studentas"
vardas

In [65]:
## Python skaiciuoja nuo nulio
vardas [0]

's'

In [66]:
vardas [4]

'e'

In [67]:
## Is galo skaiciuoja nuo -1
vardas [-2]

'a'

In [68]:
str(0)

'0'

In [72]:
zodis = "Code Academy"
print(zodis)

Code Academy

In [73]:
zodis[4]

' '

In [74]:
zodis[:4]

'Code'

In [75]:
zodis[5:]

'Academy'

In [76]:
zodis[2:7]

'de Ac'

In [77]:
zodis[::2]

'Cd cdm'

In [78]:
zodis[1::2]

'oeAaey'

In [79]:
zodis[:-5]

'Code Ac'

In [80]:
zodis[::-1]

'ymedacA edoC'

In [82]:
zodis.split()

['Code', 'Academy']

In [81]:
zodis.split

In [83]:
zodis.split("e")

['Cod', ' Acad', 'my']

In [85]:
zodis.lower()

'code academy'

In [84]:
zodis.upper()

'CODE ACADEMY'

In [86]:
zodis.replace("c", "k")

'Code Akademy'

In [87]:
zodis.replace("code", "fun")

'Code Academy'

In [88]:
hasattr(zodis, 'replace')

True

In [89]:
print(vardas, "ir", _vardas, ". skaitliukas: ", skaitliukas)

studentas ir  kitas studentas . skaitliukas:  32

In [104]:
sakinys = vardas + " ir" + _vardas + ". skaitliukas: " +str(skaitliukas) + ". 2+2=" +str(2+2)
f_sakinys = f"{vardas} ir{_vardas}. skaitliukas: {skaitliukas}. 2+2={2+2}"
s_sakinys = "%s ir%s. skaitliukas: %d. 2+2=%d" % (vardas, _vardas, skaitliukas, 2+2)
u_sakinys = "{} ir{}. skaitliukas: {}. 2+2={}" .format(vardas,_vardas, skaitliukas, 2+2)
print(sakinys, f_sakinys, s_sakinys, u_sakinys, sep="\n")

studentas ir kitas studentas. skaitliukas: 32. 2+2=4
studentas ir kitas studentas. skaitliukas: 32. 2+2=4
studentas ir kitas studentas. skaitliukas: 32. 2+2=4
studentas ir kitas studentas. skaitliukas: 32. 2+2=4

## Logika

In [105]:
2 + 2 == 4

True

In [106]:
1 > 0

True

In [107]:
100/10 <= 10

True

In [108]:
5 != 5

False

In [110]:
True or False

True

In [111]:
True and False

False

In [112]:
# and operatoriui abi salygos turi but true
50/2 > 20 and 50/2 < 30

True

In [113]:
50/2 > 20 and 50/2 < 30

True

In [114]:
# Operatoriui or bent viena is salygu turi buti tiesa
50/2 > 20 or 20 > 1

True

## Salygos

In [124]:
skaicius = 0
if skaicius > 0:
        print(f"skaicius {skaicius} yra daugiau uz 0. ")
elif skaicius == 0:
        print("skaicius yra nulis. ")
else:
        print(f"skaicius {skaicius} yra maziau arba lygus nuliui. ")

skaicius yra nulis.

In [129]:
## Dvitaskis nurodo kad po jo eis kodo blokas
## If salyga yra kodo sakinys, viskas kas eina po if ir atitraukta su tab yra kodo blokas, 

skaicius = 500
if skaicius > 100:
    print(f"skaicius {skaicius} yra daugiau uz 100. ")
if skaicius > 10:
    print(f"skaicius {skaicius} yra daugiau uz 10. ")
if skaicius < 10:
    print(f"skaicius {skaicius} yra maziau uz 10. ")

skaicius 500 yra daugiau uz 100.
skaicius 500 yra daugiau uz 10.

In [134]:
skaicius = 110
if skaicius < 100:
    print(f"skaicius {skaicius} yra maziau uz 100. ")
    if skaicius > 10:
            print(f"skaicius {skaicius} yra tarp 10 ir 100. ")
else:
    print(f"skaicius {skaicius} yra didesnis arba lygus 100 . ")

skaicius 110 yra didesnis arba lygus 100 .