### Loginiai kintamieji (boolean)

In [1]:
tiesa = True
type(tiesa)

bool

In [2]:
int(tiesa)

1

In [3]:
int(False)

0

In [5]:
from calendar import isleap
type(isleap(2100))

bool

In [18]:
krepselis = {
    "sausainiai" : 2,
    "kava" : 1.05,
    "medus": 7,
}

def ar_yra(zodynas, raktas):
    if raktas in zodynas:
         return True
    else: 
        return False

ar_yra(krepselis, 'medus')

True

In [21]:
#if ar_yra(krepselis, 'kava'):
if 'kava' in krepselis:   
    print(krepselis['kava'])
else:
    print ('kavos nera')

1.05

In [22]:
tiesa = ar_yra(krepselis, 'uogiene') == True
tiesa

False

In [ ]:
not True

In [23]:
not False

True

In [24]:
not ar_yra(krepselis, 'uogiene')

True

In [27]:
darbuotojai = {
    'studente' : "airida",
    'destytojas' : "kestutis",
    'koordinatorius' : "shakute"
}

if ar_yra(darbuotojai, "koordinatorius"):
    print(darbuotojai['koordinatorius'])
if ar_yra(darbuotojai, 'studente'):
    print(darbuotojai['studente'])

shakute
airida

In [28]:
print(type(darbuotojai))
print(type(darbuotojai['koordinatorius']))
print(type(krepselis['kava']))
print(type(krepselis['medus']))
print(type(ar_yra(krepselis, 'medus')))

<class 'dict'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>

### Data laikas

In [4]:
import datetime

In [5]:
datetime.date.today()

datetime.date(2023, 1, 6)

In [6]:
siandien = datetime.date.today()
print(siandien)

2023-01-06

In [33]:
type(siandien)

datetime.date

In [34]:
type(datetime)

module

In [35]:
laikas = datetime.time(13, 58)
print(laikas)
print(type(laikas))

13:58:00
<class 'datetime.time'>

In [36]:
dabar = datetime.datetime.now()
print(dabar)
print(type(dabar))

2022-12-22 14:00:44.444360
<class 'datetime.datetime'>

In [1]:
utc_dabar = datetime.datetime.utcnow()
print(dabar)

NameError: name 'datetime' is not defined

In [2]:
skirtumas = datetime.datetime.now() - dabar
skirtumas.seconds // 60

NameError: name 'datetime' is not defined

In [40]:
type(skirtumas)

datetime.timedelta

In [42]:
gimiau = datetime.date(1983, 3, 19)
print(gimiau)

1983-03-19

In [45]:
amzius = datetime.date.today() - gimiau
print(amzius)

14523 days, 0:00:00

In [47]:
round(amzius.days / 365.25, 2)

39.76

In [48]:
print(f"{(amzius.days // 365.25):0.0f} metai, {(amzius.days % 365.25):0.0f} dienos")

39 metai, 278 dienos

### Klaidu gaudymas